.wrapper {
  margin: 0 auto;
  width: 1000px;
}
ul {
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: left;
  list-style-type: none;
  color: indianred;
}
ul li {
padding-left: 1em;
padding-top: 1em;
}
ul li:first-child {
  padding-left: 0;
  }
ul li a {
  text-decoration: none;
  color: indianred;
}
ul li a:hover {
  text-decoration: underline;
}
ul li ul {
  display: none;
}
ul li:hover ul {
  display: block;
}
ul li ul li {
  padding: 0;
}
ul li ul li a {
  text-decoration: none;
}
ul li ul li a:hover {
  text-decoration: underline;
}
.active {
  color: #f00;
}